doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Imgview
    body 
        if card_id.startsWith('b')
            img(src=`/cardimg/buddy/${card_id.substr(1)}.png`)
        else 
            img(src=`/cardimg/${card_id+'['+card_data.prefix+']'+card_data.card_name}.webp`)
        each val, key in card_data
            h3=key 
            p=val 
