extends layout

block head 
  meta(name='theme-color' content='#7952b3')
  style.
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
    }
    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
      font-size: 3.5rem;
      }
    }
    .navbar-brand {
      margin-right: auto;
    }
    .form-control-dark {
      color: #fff;
      background-color: var(--bs-dark);
      border-color: var(--bs-gray);
    }
    .form-control-dark:focus {
      color: #fff;
      background-color: var(--bs-dark);
      border-color: #fff;
      box-shadow: 0 0 0 .25rem rgba(255, 255, 255, .25);
    }
    .form-search {
      max-width: 30rem;
      flex: 1 0 auto;
    }

block content
  header
    #navbarHeader.collapse.bg-dark
      .container
        .row
          .col-sm-8.col-md-7.py-4
            h4.text-white About
            p.text-muted
              | Add some information about the album below, the author, or any other background context. Make it a few sentences long so folks can pick up some informative tidbits. Then, link them off to some social networking sites or contact information.
          .col-sm-4.offset-md-1.py-4
            h4.text-white Contact
            ul.list-unstyled
              li
                a.text-white(href='#') Follow on Twitter
              li
                a.text-white(href='#') Like on Facebook
              li
                a.text-white(href='#') Email me
    .navbar.navbar-dark.bg-dark.shadow-sm
      .container
        a.navbar-brand.d-flex.align-items-center(href='#')
          svg.me-2(xmlns='http://www.w3.org/2000/svg' width='20' height='20' fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' aria-hidden='true' viewbox='0 0 24 24')
            path(d='M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z')
            circle(cx='12' cy='13' r='4')
          strong MA-Album
        form.col-12.col-lg-auto.mb-3.mb-lg-0.me-lg-3.form-search
          input.form-control.form-control-dark#search(type='search' placeholder='Search...' aria-label='Search' list='data-search')
        button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarHeader' aria-controls='navbarHeader' aria-expanded='false' aria-label='Toggle navigation')
          span.navbar-toggler-icon
  main
    .album.py-5.bg-light
      .container
        .row.row-cols-1.row-cols-sm-2.row-cols-md-3.g-3
          .col
            .card.shadow-sm
              svg.bd-placeholder-img.card-img-top(width='100%' height='225' xmlns='http://www.w3.org/2000/svg' role='img' aria-label='Placeholder: Thumbnail' preserveaspectratio='xMidYMid slice' focusable='false')
                title Placeholder
                rect(width='100%' height='100%' fill='#55595c')
                text(x='50%' y='50%' fill='#eceeef' dy='.3em') Thumbnail
              .card-body
                p.card-text
                  | This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
                .d-flex.justify-content-between.align-items-center
                  .btn-group
                    button.btn.btn-sm.btn-outline-secondary(type='button') View
                    button.btn.btn-sm.btn-outline-secondary(type='button') Edit
                  small.text-muted 9 mins
          .col
            .card.shadow-sm
              svg.bd-placeholder-img.card-img-top(width='100%' height='225' xmlns='http://www.w3.org/2000/svg' role='img' aria-label='Placeholder: Thumbnail' preserveaspectratio='xMidYMid slice' focusable='false')
                title Placeholder
                rect(width='100%' height='100%' fill='#55595c')
                text(x='50%' y='50%' fill='#eceeef' dy='.3em') Thumbnail
              .card-body
                p.card-text
                  | This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
                .d-flex.justify-content-between.align-items-center
                  .btn-group
                    button.btn.btn-sm.btn-outline-secondary(type='button') View
                    button.btn.btn-sm.btn-outline-secondary(type='button') Edit
                  small.text-muted 9 mins
          .col
            .card.shadow-sm
              svg.bd-placeholder-img.card-img-top(width='100%' height='225' xmlns='http://www.w3.org/2000/svg' role='img' aria-label='Placeholder: Thumbnail' preserveaspectratio='xMidYMid slice' focusable='false')
                title Placeholder
                rect(width='100%' height='100%' fill='#55595c')
                text(x='50%' y='50%' fill='#eceeef' dy='.3em') Thumbnail
              .card-body
                p.card-text
                  | This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
                .d-flex.justify-content-between.align-items-center
                  .btn-group
                    button.btn.btn-sm.btn-outline-secondary(type='button') View
                    button.btn.btn-sm.btn-outline-secondary(type='button') Edit
                  small.text-muted 9 mins
          .col
            .card.shadow-sm
              svg.bd-placeholder-img.card-img-top(width='100%' height='225' xmlns='http://www.w3.org/2000/svg' role='img' aria-label='Placeholder: Thumbnail' preserveaspectratio='xMidYMid slice' focusable='false')
                title Placeholder
                rect(width='100%' height='100%' fill='#55595c')
                text(x='50%' y='50%' fill='#eceeef' dy='.3em') Thumbnail
              .card-body
                p.card-text
                  | This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
                .d-flex.justify-content-between.align-items-center
                  .btn-group
                    button.btn.btn-sm.btn-outline-secondary(type='button') View
                    button.btn.btn-sm.btn-outline-secondary(type='button') Edit
                  small.text-muted 9 mins
          .col
            .card.shadow-sm
              svg.bd-placeholder-img.card-img-top(width='100%' height='225' xmlns='http://www.w3.org/2000/svg' role='img' aria-label='Placeholder: Thumbnail' preserveaspectratio='xMidYMid slice' focusable='false')
                title Placeholder
                rect(width='100%' height='100%' fill='#55595c')
                text(x='50%' y='50%' fill='#eceeef' dy='.3em') Thumbnail
              .card-body
                p.card-text
                  | This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
                .d-flex.justify-content-between.align-items-center
                  .btn-group
                    button.btn.btn-sm.btn-outline-secondary(type='button') View
                    button.btn.btn-sm.btn-outline-secondary(type='button') Edit
                  small.text-muted 9 mins
          .col
            .card.shadow-sm
              svg.bd-placeholder-img.card-img-top(width='100%' height='225' xmlns='http://www.w3.org/2000/svg' role='img' aria-label='Placeholder: Thumbnail' preserveaspectratio='xMidYMid slice' focusable='false')
                title Placeholder
                rect(width='100%' height='100%' fill='#55595c')
                text(x='50%' y='50%' fill='#eceeef' dy='.3em') Thumbnail
              .card-body
                p.card-text
                  | This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
                .d-flex.justify-content-between.align-items-center
                  .btn-group
                    button.btn.btn-sm.btn-outline-secondary(type='button') View
                    button.btn.btn-sm.btn-outline-secondary(type='button') Edit
                  small.text-muted 9 mins
          .col
            .card.shadow-sm
              svg.bd-placeholder-img.card-img-top(width='100%' height='225' xmlns='http://www.w3.org/2000/svg' role='img' aria-label='Placeholder: Thumbnail' preserveaspectratio='xMidYMid slice' focusable='false')
                title Placeholder
                rect(width='100%' height='100%' fill='#55595c')
                text(x='50%' y='50%' fill='#eceeef' dy='.3em') Thumbnail
              .card-body
                p.card-text
                  | This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
                .d-flex.justify-content-between.align-items-center
                  .btn-group
                    button.btn.btn-sm.btn-outline-secondary(type='button') View
                    button.btn.btn-sm.btn-outline-secondary(type='button') Edit
                  small.text-muted 9 mins
          .col
            .card.shadow-sm
              svg.bd-placeholder-img.card-img-top(width='100%' height='225' xmlns='http://www.w3.org/2000/svg' role='img' aria-label='Placeholder: Thumbnail' preserveaspectratio='xMidYMid slice' focusable='false')
                title Placeholder
                rect(width='100%' height='100%' fill='#55595c')
                text(x='50%' y='50%' fill='#eceeef' dy='.3em') Thumbnail
              .card-body
                p.card-text
                  | This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
                .d-flex.justify-content-between.align-items-center
                  .btn-group
                    button.btn.btn-sm.btn-outline-secondary(type='button') View
                    button.btn.btn-sm.btn-outline-secondary(type='button') Edit
                  small.text-muted 9 mins
          .col
            .card.shadow-sm
              svg.bd-placeholder-img.card-img-top(width='100%' height='225' xmlns='http://www.w3.org/2000/svg' role='img' aria-label='Placeholder: Thumbnail' preserveaspectratio='xMidYMid slice' focusable='false')
                title Placeholder
                rect(width='100%' height='100%' fill='#55595c')
                text(x='50%' y='50%' fill='#eceeef' dy='.3em') Thumbnail
              .card-body
                p.card-text
                  | This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
                .d-flex.justify-content-between.align-items-center
                  .btn-group
                    button.btn.btn-sm.btn-outline-secondary(type='button') View
                    button.btn.btn-sm.btn-outline-secondary(type='button') Edit
                  small.text-muted 9 mins
  footer.text-muted.py-5
    .container
      p.float-end.mb-1
        a(href='#') Back to top
      p.mb-1 Album example is &copy; Bootstrap, but please download and customize it for yourself!
      p.mb-0
        | New to Bootstrap? 
        a(href='/') Visit the homepage
        |  or read our 
        a(href='/docs/5.0/getting-started/introduction/') getting started guide
        | .
  script(src="/js/search.js") 
